Repository hmcts/am-role-assignment-refresh-batch, pull requests merged in 2021-06, with the labels that each got.

#26 AM-1339: temp checkin
  build.gradle
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/config/BatchConfig.java
Labels: ns:am, prd:am, rel:am-role-assignment-refresh-batch-pr-26

#45 jar upgrade and fix build failure
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-refresh-batch-pr-45

#47 Add RAS refresh batch S2S secret
  infrastructure/main.tf
Labels: ns:am, prd:am, rel:am-role-assignment-refresh-batch-pr-47

#48 AM 1447 - Junit coverage improvement and test packages cleanup
  build.gradle
  src/test/java/uk/gov/hmcts/reform/roleassignmentrefresh/RoleAssignmentRefreshApplicationTests.java
  src/test/java/uk/gov/hmcts/reform/roleassignmentrefresh/data/GenericArrayUserTypeTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignmentrefresh/domain/service/process/RefreshJobsOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignmentrefresh/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/roleassignmentrefresh/launchdarkly/FeatureConditionEvaluatorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignmentrefresh/oidc/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignmentrefresh/task/RefreshORMRulesTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-refresh-batch-pr-48

#49 Add github autoupdate
  .github/workflows/autoupdate.yml
Labels: ns:am, prd:am, rel:am-role-assignment-refresh-batch-pr-49

#50 Master fix
  charts/am-role-assignment-refresh-batch/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/task/RefreshORMRules.java
  src/test/java/uk/gov/hmcts/reform/roleassignmentrefresh/task/RefreshORMRulesTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-refresh-batch-pr-50
