Repository hmcts/am-role-assignment-refresh-batch, pull requests merged in 2021-05, with the labels that each got.

#20 AM-1365: Enable security tokens in refresh job.
  build.gradle
  charts/am-role-assignment-refresh-batch/Chart.yaml
  charts/am-role-assignment-refresh-batch/values.preview.template.yaml
  charts/am-role-assignment-refresh-batch/values.yaml
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/RoleAssignmentRefreshApplication.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/config/BatchConfig.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/constants/RefreshConstants.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/oidc/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/oidc/OIdcAdminConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/oidc/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/task/DeleteExpiredRecords.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/roleassignmentbatch/oidc/SecurityUtilsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-refresh-batch-pr-20

#21 Am 1339 refresh batch
  build.gradle
  charts/am-role-assignment-refresh-batch/Chart.yaml
  charts/am-role-assignment-refresh-batch/values.preview.template.yaml
  charts/am-role-assignment-refresh-batch/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignmentrefresh/RoleAssignmentRefreshIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/RoleAssignmentRefreshApplication.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/config/BatchConfig.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/data/GenericArrayUserType.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/data/RefreshJobEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/data/RefreshJobRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/domain/model/UserRequest.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/domain/model/enums/Status.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/domain/service/common/ORMFeignClient.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/domain/service/common/SendJobDetailsService.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/domain/service/process/RefreshJobsOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/feignclients/configuration/FeignClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/feignclients/configuration/FeignClientInterceptor.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/feignclients/configuration/ORMFeignClientFallback.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/feignclients/exceptionhandler/RoleAssignmentFeignExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/oidc/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/task/RefreshORMRules.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/roleassignmentbatch/domain/RefreshJobsOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignmentbatch/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/roleassignmentbatch/task/DeleteExpiredRecordsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-refresh-batch-pr-21

#27 Integration tests for refresh batch
  .gitignore
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignmentrefresh/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignmentrefresh/RoleAssignmentRefreshIntegrationTest.java
  src/integrationTest/resources/sql/insert_refresh_jobs.sql
Labels: ns:am, prd:am, rel:am-role-assignment-refresh-batch-pr-27

#25 Am 1392 l dflag refreshbatch
  build.gradle
  charts/am-role-assignment-refresh-batch/Chart.yaml
  charts/am-role-assignment-refresh-batch/values.preview.template.yaml
  charts/am-role-assignment-refresh-batch/values.yaml
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/advice/exception/ForbiddenException.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/config/BatchConfig.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/constants/RefreshConstants.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/domain/service/process/RefreshJobsOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/feignclients/exceptionhandler/RoleAssignmentFeignExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/launchdarkly/FeatureConditionEvaluator.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/task/RefreshORMRules.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/roleassignmentbatch/domain/RefreshJobsOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignmentbatch/launchdarkly/FeatureConditionEvaluatorTest.java
  src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: ns:am, prd:am, rel:am-role-assignment-refresh-batch-pr-25
