Repository hmcts/am-role-assignment-refresh-batch, pull requests merged in 2022-07, with the labels that each got.

#240 CVE fix
  build.gradle
  charts/am-role-assignment-refresh-batch/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-refresh-batch-pr-240

#241 dependency jar
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-refresh-batch-pr-241

#243 dependency jar
  charts/am-role-assignment-refresh-batch/Chart.yaml
  charts/am-role-assignment-refresh-batch/values.preview.template.yaml
  charts/am-role-assignment-refresh-batch/values.yaml
  src/main/java/uk/gov/hmcts/reform/roleassignmentrefresh/config/BatchConfig.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-refresh-batch-pr-243

#245 java version in helm repo version update
  charts/am-role-assignment-refresh-batch/Chart.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-refresh-batch-pr-245
