Repository hmcts/am-role-assignment-refresh-batch, pull requests merged in 2022-03, with the labels that each got.

#177 ignore fortify scan failures
  Jenkinsfile_nightly
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-refresh-batch-pr-177

#179 Updated the chart version
  charts/am-role-assignment-refresh-batch/Chart.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-refresh-batch-pr-179

#180 Am 2066 java upgrade
  charts/am-role-assignment-refresh-batch/Chart.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-refresh-batch-pr-180

#181 Fix CVE-2018-1258
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-refresh-batch-pr-181

#183 CVE fix
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-refresh-batch-pr-183

#182 Gradle upgrade to 7.4.1
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignmentrefresh/BaseTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-refresh-batch-pr-182
